.cards{
   display: flex;
   flex-direction: column;
   background: grey;
   gap: 2rem;
   align-items: center;
}

.card{
   background: greenyellow;
   padding: 1.3rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: all 400ms ease;
   padding-top: 0.2rem;
   width: 80%;
}

.card h3,.card h4,.card h5{
   margin: 3px 0;
}

.card:hover{
   background: lightyellow;
}

.card-img{
   border-radius: 50%;
   overflow: hidden;
   width: 4rem;
}

.card-home-img{
   margin: 0.5rem;
   height: 10rem;
   width: auto;
}

.card-top{
   display: flex;
   gap: 1rem;
   flex-direction: row;
   border-bottom: 1px solid black;
}

.card-bottom{
   border-top: 1px solid black;
}

