.Reels {
   display: grid;
   place-items: center;
   height: 100vh;
   color: #fff;
}

.reel-logo {
   position: absolute;
   width: 10%;
   max-width: 100px;
   top: 1rem;
   left: 1rem;
}

.video-container {
   position: relative;
   height: 75vh;
   width: 70%;
   max-width: 500px;
   border-radius: 20px;
   background-color: white;
   overflow: scroll;
   scroll-snap-type: y mandatory;
   scrollbar-width: none;
}

.reel-title{
   margin-bottom: 2rem;
}

.video-container::-webkit-scrollbar {
   display: none;
}