.navbar {
    height: 50px;
    background-color: #68b2a0;
    display: flex;
    justify-content: center;
    width: 2000px;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo image {
    height: 2px;
    width: 4px;
    margin-bottom: 50px;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}
